
.vs/TestConsoleApp/FileContentIndex/e24aca93-2d07-468a-812c-b629ace22025.vsidx
.vs/TestConsoleApp/FileContentIndex/read.lock
.vs/TestConsoleApp/v17/.suo
TestConsoleApp/bin/Debug/net6.0/TestConsoleApp.deps.json
TestConsoleApp/bin/Debug/net6.0/TestConsoleApp.dll
TestConsoleApp/bin/Debug/net6.0/TestConsoleApp.exe
TestConsoleApp/bin/Debug/net6.0/TestConsoleApp.pdb
TestConsoleApp/bin/Debug/net6.0/TestConsoleApp.runtimeconfig.json
TestConsoleApp/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TestConsoleApp/obj/Debug/net6.0/apphost.exe
TestConsoleApp/obj/Debug/net6.0/ref/TestConsoleApp.dll
TestConsoleApp/obj/Debug/net6.0/refint/TestConsoleApp.dll
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.AssemblyInfo.cs
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.AssemblyInfoInputs.cache
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.assets.cache
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.csproj.AssemblyReference.cache
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.csproj.BuildWithSkipAnalyzers
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.csproj.CoreCompileInputs.cache
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.csproj.FileListAbsolute.txt
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.dll
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.GeneratedMSBuildEditorConfig.editorconfig
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.genruntimeconfig.cache
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.GlobalUsings.g.cs
TestConsoleApp/obj/Debug/net6.0/TestConsoleApp.pdb
TestConsoleApp/obj/project.assets.json
TestConsoleApp/obj/project.nuget.cache
TestConsoleApp/obj/TestConsoleApp.csproj.nuget.dgspec.json
TestConsoleApp/obj/TestConsoleApp.csproj.nuget.g.props
TestConsoleApp/obj/TestConsoleApp.csproj.nuget.g.targets
TestProject1/bin/Debug/net6.0/CoverletSourceRootsMapping
TestProject1/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
TestProject1/obj/Debug/net6.0/TestProject1.AssemblyInfo.cs
TestProject1/obj/Debug/net6.0/TestProject1.AssemblyInfoInputs.cache
TestProject1/obj/Debug/net6.0/TestProject1.assets.cache
TestProject1/obj/Debug/net6.0/TestProject1.csproj.AssemblyReference.cache
TestProject1/obj/Debug/net6.0/TestProject1.GeneratedMSBuildEditorConfig.editorconfig
TestProject1/obj/Debug/net6.0/TestProject1.GlobalUsings.g.cs
TestProject1/obj/project.assets.json
TestProject1/obj/project.nuget.cache
TestProject1/obj/TestProject1.csproj.nuget.dgspec.json
TestProject1/obj/TestProject1.csproj.nuget.g.props
TestProject1/obj/TestProject1.csproj.nuget.g.targets
.vs/TestConsoleApp/FileContentIndex/b7da48fe-e76c-4132-9877-13da459649fe.vsidx
